# OS Files
.DS_Store
Thumbs.db

# Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build
dist/
build/

# Temporary files
*.tmp
*.temp